/*Estilos generales*/
nav ul{
	list-style: none;
	padding: 0;
	
}

nav a{
	text-decoration: none;
	display: block;
	padding: 0 2.5em;
	background-color: #f16260 ;
	transform: .4s;
	color: beige;
}

nav img{
	color: white;
	display: block;
	padding-left:2.5em;
	background-color: #f16260;
	width: 20%;
	margin: .5em;
}

nav a:hover{
	background-color: beige;
	color: #f16260;
}

nav li{
	line-height: 3rem;
	position: relative;
}
 
.menu ul{
	position: absolute;
}

/*Primer nivel*/
.menu{
	display: table;
	background-color: #f16260;
	width: 100%;
}
 
.menu > li{
	float: left;
}

/*Segundo nivel*/

nav li li{
	background-color: #222;
	width: 215px;
	transition: all .5s;
	max-height: 0;
	overflow: hidden;
}

nav li:hover ul > li{
	max-height:500px;
	overflow: visible;

}

.menu > li > ul{
	top: 100%;
}

@media (max-width: 480px){
	nav a{
		display: none;
	}

	nav img{
		
	}
}