*{
	padding:0;
	margin: 0;
	box-sizing: border-box; 
}

header{
	height: 50px;
	background-color: #f16260;
	display: flex;
	justify-content: flex-end;
}

header label{
	font-size: 30px;
	cursor: pointer;
	display: none;
}

header img{
	height: 40px;
	margin: 5px;
	position: absolute;
	left: 1%;
}

#btn-menu{
	display: none;
}

.menu ul{
	background-color: #f16260;
	display: flex;
	list-style: none;
}

.menu ul ul{
	display: none;
}

.menu a{
	display: block;
	padding: 15px 40px;
	color: beige;
	text-decoration: none;
}

.menu a:hover{
	background-color: beige;
	color: #f16260;
}

.menu ul li:hover ul{
	display: block;
	position: absolute;
} 

@media (max-width: 480pX){
	.icon-menu{
		display: block;
		right: 90%;
		display: flex;
		align-items:center;
		color: beige;
	}

	.menu{
		position: absolute;
		top: 50px;
		left: 0;
		transform: translateX(-100%);
		transition: all 0.3s;
	}

	.menu ul{
		display: block;
		top: 50px;

	}

	.menu ul li:hover ul{
		display: none;
		position: static;
	}

	.menu ul ul a{
		padding: 15px 80px;
	}

	#btn-menu:checked ~ .menu {
		transform: translateX(0%);		
	}

	.sub-menu{
		background-color: #6B203C;
	}
}
